<div class="container-fluid" style="position:relative;">
  <div
    class="spinner-border text-info m-1"
    role="status"
    *ngIf="loading"
    style="position: absolute; top: -3%; left: 8%"
  >
    <span class="sr-only">Loading...</span>
  </div>
  <app-page-title
    title="Vehicle"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-md-2">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="tickets-table_length">
                <label class="d-inline-flex align-items-center"
                  >Show
                  <select
                    name="tickets-table_length"
                    aria-controls="tickets-table"
                    name="pageSize"
                    [(ngModel)]="service.pageSize"
                    class="form-control form-control-sm mx-2"
                  >
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="25">25</option>
                    <option [ngValue]="50">50</option>
                    <option [ngValue]="100">100</option>
                  </select>
                  entries</label
                >
              </div>
            </div>
            <!-- Search -->
            <div class="col-sm-12 col-md-6">
              <div
                id="tickets-table_filter"
                class="dataTables_filter text-md-end"
              >
                <label class="d-inline-flex align-items-center"
                  >Search:
                  <input
                    type="text"
                    name="searchTerm"
                    class="form-control form-control-sm ms-2"
                    aria-controls="tickets-table"
                    [(ngModel)]="service.searchTerm"
                /></label>
              </div>
            </div>
            <!-- End search -->
          </div>
          <!-- Table -->
          <div class="table-responsive">
            <table
              id="basic-datatable"
              class="table table-bordered dt-responsive nowrap datatables no-footer dtr-inline"
            >
              <thead>
                <tr>
                  <th></th>
                  <th sortable="name" (sort)="onSort($event)">Name</th>
                  <th sortable="office" (sort)="onSort($event)">Company</th>
                  <th sortable="age" (sort)="onSort($event)">Seat Capacity</th>
                  <th sortable="date" (sort)="onSort($event)">Received at</th>
                  <th sortable="salary" (sort)="onSort($event)">Modified at</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody *ngFor="let table of tableData; let i = index">
                <tr>
                  <td align="center">
                    <a class="expand-row" (click)="changeValue(i, table._id)">
                      +
                    </a>
                  </td>
                  <td>
                    <ngb-highlight
                      [result]="table.name"
                      [term]="service.searchTerm"
                    ></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight
                      [result]="table.company?.name"
                      [term]="service.searchTerm"
                    ></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight
                      [result]="table.guestCapacity"
                      [term]="service.searchTerm"
                    ></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight
                      [result]="table.createdAt | date: 'dd MMM, YYYY'"
                      [term]="service.searchTerm"
                    ></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight
                      [result]="table.updatedAt | date: 'dd MMM, YYYY'"
                      [term]="service.searchTerm"
                    ></ngb-highlight>
                  </td>
                  <td>
                    <div ngbDropdown placement="bottom-left">
                      <i
                        class="mdi mdi-dots-vertical dropdown-toggle"
                        ngbDropdownToggle
                        data-toggle="dropdown"
                        aria-expanded="true"
                      ></i>
                      <div
                        class="dropdown-menu dropdown-menu-end"
                        ngbDropdownMenu
                      >
                        <a class="dropdown-item" href="javascript: void(0);"
                          ><i class="mdi mdi-plus"></i>Add</a
                        >
                        <a class="dropdown-item" href="javascript: void(0);"
                          ><i class="mdi mdi-account-edit"></i>Edit</a
                        >
                        <a
                          class="dropdown-item"
                          (click)="openModalDelete(contentdelete)"
                          ><i class="mdi mdi-delete"></i>Delete</a
                        >
                      </div>
                    </div>
                  </td>
                </tr>

                <tr *ngIf="hideme[i]" class="sub-table no-bg">
                  <td align="center"></td>
                  <td colspan="15" class="p-0">
                    <table class="table mb-0 table-striped">
                      <thead class="bg-dark text-white">
                        <tr>
                          <th>Name Seat</th>
                          <th>Type</th>
                          <th>Status</th>
                          <th>Created Date</th>
                          <th>Last Modified</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let table of editableTable; let i = index">
                          <td>{{ table.sku }}</td>
                          <td>{{ table.type }}</td>
                          <td>{{ table.status ?"Booked":"Empty"}}</td>
                          <td>{{ table.createdAt | date: "dd MMM, YYYY" }}</td>
                          <td>{{ table.updatedAt | date: "dd MMM, YYYY" }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- End table -->
          <div
            class="row justify-content-md-between align-items-md-center mt-2"
          >
            <div class="col-sm-12 col-md-5">
              <div
                class="dataTables_info mb-2"
                id="tickets-table_info"
                role="status"
                aria-live="polite"
              >
                Showing {{ service.startIndex }} to {{ service.endIndex }} of
                {{ service.totalRecords }}
                entries
              </div>
            </div>
            <!-- Pagination -->
            <div class="col-sm-12 col-md-5">
              <div class="text-md-right float-md-end pagination-rounded">
                <ngb-pagination
                  [collectionSize]="totalPage"
                  [(page)]="currentpage"
                  [pageSize]="10"
                  (pageChange)="getPageVehicle($event)"

                >
                </ngb-pagination>
              </div>
            </div>
            <!-- End Pagination -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Standard Modal -->
<ng-template #contentdelete role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">CONFIRMATION</h5>
    <button
      type="button"
      class="btn-close"
      aria-hidden="true"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <h5>Do you really want to delete</h5>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.close('Close click')"
    >
      Cancel
    </button>
    <button type="button" class="btn btn-primary">OK</button>
  </div>
</ng-template>
