<div class="container-fluid">
  <app-page-title
    title="Profile"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>

  <div class="row">
    <div class="col-xl-4">
      <div class="card overflow-hidden">
        <div class="bg-soft bg-primary">
          <div class="row">
            <div class="col-7">
              <div class="text-primary p-3">
                <h5 class="text-primary">Welcome Back !</h5>
              </div>
            </div>
            <div class="col-5 align-self-end">
              <img
                src="assets/images/profile-img.png"
                alt=""
                class="img-fluid"
              />
            </div>
          </div>
        </div>
        <div class="card-body pt-0">
          <div class="row">
            <div class="col-sm-4">
              <div class="avatar-md profile-user-wid mb-4">
                <img
                  src="assets/images/users/avatar-1.jpg"
                  alt=""
                  class="img-thumbnail rounded-circle"
                />
              </div>
            </div>
            <h5 >Cynthia Price</h5>

          </div>
        </div>
      </div>
      <!-- end card -->

      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Personal Information</h4>

          <p class="text-muted mb-4">
            Hi I'm Cynthia Price,has been the industry's standard dummy text To
            an English person, it will seem like simplified English, as a
            skeptical Cambridge.
          </p>
          <div class="table-responsive">
            <table class="table table-nowrap mb-0">
              <tbody>
                <tr>
                  <th scope="row">Full Name :</th>
                  <td>Cynthia Price</td>
                </tr>
                <tr>
                  <th scope="row">Mobile :</th>
                  <td>(123) 123 1234</td>
                </tr>
                <tr>
                  <th scope="row">E-mail :</th>
                  <td>cynthiaskote@gmail.com</td>
                </tr>
                <tr>
                  <th scope="row">Location :</th>
                  <td>California, United States</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- end card -->
    </div>

    <div class="col-xl-8">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-4">Profile Setting</h4>

            <form>
              <div class="row mb-4">
                <label
                  for="horizontal-firstname-input"
                  class="col-sm-3 col-form-label"
                  >Name</label
                >
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control"
                    id="horizontal-firstname-input"
                  />
                </div>
              </div>
              <div class="row mb-4">
                <label
                  for="horizontal-email-input"
                  class="col-sm-3 col-form-label"
                  >Email</label
                >
                <div class="col-sm-9">
                  <input
                    type="email"
                    class="form-control"
                    id="horizontal-email-input"
                  />
                </div>
              </div>

              <div class="row mb-4">
                <label for="formFile" class="col-sm-3 col-form-label"
                  >Avatar</label
                >
                <div class="col-sm-9">
                  <input class="form-control" type="file" id="formFile" />
                </div>
              </div>
              <!-- end row -->
              <div class="row justify-content-end">
                <div class="col-sm-9">
                  <div>
                    <button type="submit" class="btn btn-primary w-md">
                      Save
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-4">Change Password</h4>
            <form (ngSubmit)="typeSubmit()" [formGroup]="typeValidationForm">
              <div class="row mb-4">
                <label
                  for="horizontal-email-input"
                  class="col-sm-3 col-form-label"
                  >Current password</label
                >
                <div class="col-sm-9">
                  <input
                    type="email"
                    class="form-control"
                    id="horizontal-email-input"
                  />
                </div>
              </div>
              <div class="row mb-4">
                <label
                  for="horizontal-firstname-input"
                  class="col-sm-3 col-form-label"
                  >New password</label
                >
                <div class="col-sm-9">
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Password"
                    formControlName="password"
                    [ngClass]="{
                      'is-invalid': typesubmit && type.password.errors
                    }"
                  />
                  <div
                    *ngIf="typesubmit && type.password.errors"
                    class="invalid-feedback"
                  >
                    <span *ngIf="type.password.errors.required"
                      >This value is required.</span
                    >
                    <span *ngIf="type.password.errors.minlength"
                      >Password must be at least 6 characters.</span
                    >
                  </div>
                </div>
              </div>
              <div class="row mb-4">
                <label
                  for="horizontal-email-input"
                  class="col-sm-3 col-form-label"
                  >Confirm password</label
                >
                <div class="col-sm-9">
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Re-Type Password"
                    formControlName="confirmpwd"
                    [ngClass]="{
                      'is-invalid': typesubmit && type.confirmpwd.errors
                    }"
                  />
                  <div
                    *ngIf="typesubmit && type.confirmpwd.errors"
                    class="invalid-feedback"
                  >
                    <span *ngIf="type.confirmpwd.errors.required"
                      >This value is required.</span
                    >
                    <span *ngIf="type.confirmpwd.errors.mustMatch"
                      >This value should be the same.</span
                    >
                  </div>
                </div>
              </div>


              <div class="row justify-content-end">
                <div class="col-sm-9">
                  <div>
                    <button type="submit" class="btn btn-primary w-md">
                      Save
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>
